<div class="card group/card">
  <div
    class="cursor-pointer"
    [routerLink]="['/details', product.slug, product.id]"
  >
    <img
      [src]="product.imageCover"
      alt="product.title"
      class="w-full h-[300px] rounded-t"
    />
    <div class="">
      <h3 class="text-sm py-2 text-green-800">
        category:{{ product.category.name }}
      </h3>

      <h4 class="text-sm font-semibold py-1 line-clamp-1">
        Name:{{ product.title }}
      </h4>
      <div class="flex items-center justify-between mb-4">
        <span> {{ product.price }} </span>
        <span>
          <i class="fas fa-star text-yellow-500"></i>
          {{ product.ratingsAverage }}
        </span>
      </div>
    </div>
  </div>

  <button
    class="btn translate-y-[160%] group-hover/card:translate-y-0 transition-all duration-500 cursor-pointer"
  >
    Add to Cart
  </button>
</div>
